.faq-section {
    padding-top: 175px;
    padding-bottom: 175px;
}

.faq-wrapper {
    width: 750px;
    margin: 0 auto;
    color: $title-text-color2;
    align-items: start;
    // justify-content: start;    

}

.faq-title {
    margin-bottom: 70px;
}

.faq-desc {
    margin-bottom: 20px;
}

.item {
    // display: block;
    position: relative;
    margin: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid $secondary-bg-color;
    align-items: start;
    width: 750px;
    justify-content: start;    

    &-text {
        display: none;
        max-width: 400px;
        font-size: 15px;
        margin: 30px auto;
        align-items: start;
        justify-content: start; 

    }

    &-check {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        // width: 750px;
        height: 100%;
        width: 100%;
        align-items: start;

    }

    &-title{
        padding: 15px;
        display: block;
        align-self: start;
        justify-self: start;    

        cursor: pointer;

        &::before {
        content: '';
        position: absolute;
        left: 50px;
        top: 25px;
        background-image: url('../images/arrow_bottom.svg');
        color: $accent-color4;
        background-size: cover;
        display: inline-block;
        // vertical-align: middle;
        width: 15px; 
        height: 10px;
        }
    }

    &-check:checked  ~ &-text {
        display: block;
    }

    &-check:checked  ~ &-title {
        color: $title-text-color3;

        &::before {
        content: '';
        background-image: url('../images/arrow_top.svg');
        }        
    }

}

