.price-section {
    background-color: $accent-color;
    color: $accent-color2;
}

.price-section__container {
    padding-top: 45px;
    padding-bottom: 45px;
}

.price__content {
    display: block;
    width: 700px;
    margin: 0 auto;
}
.price-title {
    color: inherit;
    font-size: 48px;
    margin-bottom: 35px;
}

.price-text {
    margin-bottom: 70px;
    font-family: $secondary-font-family;
}

.button--price {
    margin-bottom: 35px;
}