.stats-section {
    border-bottom: 1px solid $secondary-bg-color;
}

.stats-wrapper {
    display: flex;
}

.left-part {
    padding-top: 66px;
    padding-bottom: 66px;
    width: 50%;
    align-items: flex-end;
}

.right-part {
    padding-top: 66px;
    padding-bottom: 66px;
    width: 50%;
    align-items: flex-start;
    background-color: $primary-bg-color;
}

.stats__card {
    display: flex;
    flex-direction: column;
    max-width: 260px;
    align-items: flex-end;
    margin-right: 90px;
    margin-left: auto;
}
.even {
    align-items: flex-start;
    margin-left: 90px;
    margin-right: auto;
}

.stats-img {
    display: block;
    width: 70px;
    height: 70px;
    margin-bottom: 25px;
}
.stats-numbers {
    font-size: 48px;
    margin-bottom: 25px;
    color: $accent-color;
}

.stats-text {
    font-size: 18px;
}
