html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {

    font-family: $primary-font-family;
    background-color: $accent-color2;
    color: $primary-text-color;
    &.no-scroll {
        overflow: hidden;
    }

  font-family: $primary-font-family;
  background-color: $accent-color2;
  color: $title-text-color;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: center;

  &.no-scroll {
    overflow: hidden;
  }

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

// доп.класс, который сбрасывает с ul маркеры и базовые маржины и паддинги
.enumeration {
    padding: 0;
    margin: 0;
    list-style: none;
}

.section {
    // outline: 1px solid teal;
    // // color: inherit;
    &-title {
        font-size: 24px;
        color: $title-text-color;
    }
    &-text {
        font-size: 15px;
    }
    &-description {
        font-size: 10px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    //   // min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    //   // width: 100%;
    //   @include for-size(tablet) {
    //     // padding-left: 20px;
    //     // padding-right: 20px;
    //     width: 768px;
    //   }
    //   @include for-size(desktop) {
    //     // padding-left: 30px;
    //     // padding-right: 30px;
    //     width: 1200px;
    //   }
    // }
    // //class is-hidden for buttons etc.
    // .is-hidden {
    //   display: none;
    // 
}