.about-section {
    padding-top: 80px;
    padding-bottom: 50px;
    border-bottom: 1px solid $secondary-bg-color;
}

.about-wrapper {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-areas: "about-picture1 about-content about-picture2";
    // grid-gap: 10;
    align-items: center;
}

.picture1 {
    grid-area: about-picture1;
}

.about-content  {
    grid-area: about-content;
}

.picture2 {
    grid-area: about-picture2;
}

.about-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.about-title {
    margin-bottom: 93px;
}

.features__list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 60px;
    margin-bottom: 135px;
}

.card-item {
    display: flex;
    flex-direction: column;
    max-width: 140px;
    // max-height: 211px;
    align-items: center;
    fill: $accent-color;
}
.card-img {
    display: block;
    width: 69px;
    height: 69px;
    border-radius: 50%;    
    background: $primary-bg-color;
    margin-bottom: 33px;
    position: relative;

}
.card-icon {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 25px;
    right: 25px;
}

.card-title {
    font-size: 14px;
    color: $accent-color;
    margin-bottom: 25px;
}

.card-text {
    font-size: 11px;
}

.buttons {
    display: inline-flex;
    max-width: 420px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

    p {
        color: $primary-text-color;
        margin-left: 45px;
        margin-right: 45px;
        font-size: 11px;
    }
}