.feedback-section {
  background-color: $gray;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid $secondary-bg-color;
}

//! Slider slide
.swiper-slide {
  display: flex;
  align-items: center;

//   @media (max-width: 879px) {
//     flex-direction: column-reverse;
//   }
}

.slider {
  &__content {
    width: 50%;
    padding-right: 15px;

    @media (max-width: 879px) {
      width: 100%;
    }
  }

//   &__title {
//     font-style: normal;
//     font-weight: 400;
//     font-size: 30px;
//     line-height: 37px;
//     letter-spacing: 0.02em;
//     color: $black;
//     margin: 0 0 20px 0;

    // @media (max-width: 1179px) {
    //   font-size: 22px;
    //   margin-bottom: 10px;
    // }

    // @media (max-width: 879px) {
    //   font-size: 16px;
    // }


  &__card {
    position: relative;
    width: 50%;
    // max-width: 425px;
    max-height: 175px;
    background-color: $accent-color2;
    border: 1px solid $secondary-bg-color;
    box-shadow: 0px 5px 50px 0px #F3F5FA;
    position: relative;


    // @media (max-width: 879px) {
    //   width: 100%;
    // }
  }
}

.card {

    &__image {
        position: absolute;
        right: 0;
    }

}

.slider-new-price {
  top: calc(40px * 2);

  @media (max-width: 1179px) {
    top: calc(25px * 2);
  }
}

//! Swiper Container
.swiper-container {
  padding-bottom: 65px;
}

//! Pagination
.swiper-pagination-bullet {
  border-radius: 0;
  height: 5px;
  width: 30px;
  background-color: $gray;
  opacity: 1;

  &-active {
    background-color: $accent-color;
  }
}