@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto-Regular'),
    url('./fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto-Bold'),
    url('./fonts/Roboto-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto-Regular'),
    url('./fonts/Quicksand-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local('Quicksand-Bold'),
    url('./fonts/Quicksand-Bold.woff') format('woff');
}

@font-face {
  font-family: 'SFUIText';
  font-style: normal;
  font-weight: 500;
  src: local('SFUIText-Regular'),
    url('./fonts/SFUIText-Regular.woff') format('woff');
}

@font-face {
  font-family: 'SFUIText';
  font-style: normal;
  font-weight: 700;
  src: local('SFUIText-Bold'),
    url('./fonts/SFUIText-Bold.woff') format('woff');
}