.price-section {
    background-color: $accent-color;
    color: $accent-color2;
}

.price-section__container {
    padding-top: 45px;
    padding-bottom: 45px;
}

.price__content {
    display: block;
    width: 700px;
    margin: 0 auto;
}
.section-title {
    margin-bottom: 35px;
}

.button--price {
    margin-bottom: 35px;
}